In [35]:
import QUANTAXIS as QA
data = QA.QA_fetch_stock_day_adv('000001')
#print(data)
data = data.to_qfq()

data.data = data.data.assign(date=data.date.map(lambda x: str(x)[0:10]).map(QA.QA_util_date_str2int).map(lambda x: x-19000000))
#print(data.data)

from QUANTAXIS.QAIndicator.base import *
def indx(data):
    N=20 
    N1=7 
    N2=69 
    #T1=IF((DATE<=1341231),1,0) 
    #print(data.date)
    T1 = data.date.apply(lambda x: 1 if x<=1341231 else 0)
    M3=EMA(data.close,3) 
    M8=EMA(data.close,8)
    
#     M8:EMA(data.close,8),COLOR008000 
    M13 = EMA(M8, 13)
#     M13:EMA(M8,13),COLOR0000FF
    M62 = EMA(M8, 55)
#     M62:EMA(M8,55),COLORF0F000 
    VAR1=EMA(M13,62) 
    M81 = EMA(M62,81)
    M144 = EMA(VAR1, 144)
    M250 = EMA(VAR1,250)
#     M81:EMA(M62,81),COLOR00FFFF 
#     M144:EMA(VAR1,144),LINETHICK2,COLOR0000FF 
#     M250:EMA(VAR1,250),POINTDOT,LINETHICK2,COLORF00FF0 
    VAR2=(data.close+data.high+data.low)/(3) 
    VAR3=(EMA(VAR2,10))*(T1) 
    VAR4=(REF(VAR3,1))*(T1) 
    Line1 = IF(VAR3>VAR4, VAR3, VAR4)
    Line2 = IF(VAR3<VAR4, VAR3, VAR4)
#     STICKLINE((VAR3>VAR4),VAR3,VAR4,4,0),COLOR00FFFF 
#     STICKLINE((VAR3<VAR4),VAR3,VAR4,4,0),COLORFF0000 
    VAR5=((REF(data.high,1)+REF(data.low,1))/(2))*(T1) 
    VAR6=MA(data.close,N)+((2)*(STD(data.close,N)))*(T1) 
    
    Text1 =CROSS(VAR3,VAR4)
    Text2 = CROSS(VAR5,VAR6)
#     DRAWTEXT(CROSS(VAR3,VAR4),(VAR3)*(0.98),'¡ï'),COLOR00FFFF 
#     DRAWTEXT(CROSS(VAR5,VAR6),(data.high)*(1.04),'¡ýÂô'),COLOR008000 
    VAR7=REF(data.close,1) 
    VAR8=((SMA(MAX(data.close-VAR7,0),N1,1))/(SMA(ABS(data.close-VAR7),N1,1)))*(100) 
    VAR9=CROSS(N2,VAR8)
    VARA=(FILTER(VAR9,4))*(T1) 
    Text3= VARA
    
#     DRAWTEXT(VARA,(data.high)*(1.04),'¡ýÂô'),COLORFFFFFF 
    VARB=((2)*(data.close)+data.high+data.low)/(4) 
    VARC=LLV(data.low,34) 
    VARD=HHV(data.high,34) 
    VARE=(EMA(((VARB-VAR1)/(VAR5-VAR1))*(100),7))*(T1) 
    VARF=(EMA((0.667)*(REF(VARE,1))+(0.333)*(VARE),5))*(T1) 
    Text4 = IF(((COUNT((data.close<REF(data.close,1)),8))/(8)>0.6) & (data.volume>=(1.5)*(MA(data.volume,5))) & COUNT((VARE>=VARF),3) & (REF(data.low,1)==LLV(data.low,120)),1,0)
    Text5 = IF(((COUNT((data.close<REF(data.close,1)),13))/(13)>0.6)& 
               COUNT((VARE>VARF),6) & 
               (REF(data.low,5)==LLV(data.low,120)) & 
               REF((data.close>=data.open),4) & 
               REF((data.close>data.open),3) & 
               REF((data.close>data.open),2) & 
               REF((data.open>data.close),1) & 
               (data.open>REF(data.close,1)),1,0)
#     DRAWTEXT(IF(((COUNT((data.close<REF(data.close,1)),8))/(8)>0.6) & (data.volume>=(1.5)*(MA(data.volume,5))) & COUNT((VARE>=VARF),3) & (REF(data.low,1)=LLV(data.low,120)),1,0),data.low,'¡ñÂò½ø'),COLORFF00FF 
#     DRAWTEXT(IF(((COUNT((data.close<REF(data.close,1)),13))/(13)>0.6) & COUNT((VARE>VARF),6) & (REF(data.low,5)=LLV(data.low,120)) & REF((data.close>=data.open),4) & REF((data.close>data.open),3) & REF((data.close>data.open),2) & REF((data.open>data.close),1) & (data.open>REF(data.close,1)),1,0),data.low,'¡ñÂò½ø'),COLOR00FFFF 
    VAR10=(MA(data.close,80)-(MA(data.close,10))/(3))*(T1) 
    var11 = REF(VAR10,1)
    #print(VAR8)
    return pd.DataFrame({
        'M3': M3,
        'VAR1': VAR1,
        'VAR2': VAR2,
        'VAR3': VAR3,
        'VAR4': VAR4,
        'VAR5': VAR5,
        'VAR6': VAR6,
        'VAR7': VAR7,
        'VAR8': VAR8,
        'VAR9': VAR9,
        'VARA': VARA,
        'VARB': VARB,
        'VARC': VARC,
        'VARD': VARD,
        'VARE': VARE,
        'VARF': VARF,
        'VAR10': VAR10,
        'Line1': Line1,
        'Line2': Line2,
        'Text1': Text1,
        'Text2': Text2,
        'Text3': Text3,
        'Text4': Text4,
        'Text5': Text5,
    })

ind = data.add_func(indx)
ind.tail(25)

< QA_DataStruct_Stock_day with 1 securities >
'DataFrame' object has no attribute 'date'
use old model qfq

,,M3,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,...,VARE,VARF,VAR10,Line1,Line2,Text1,Text2,Text3,Text4,Text5
date,code,,,,,,,,,,,,,,,,,,,,,
2021-03-26,000001,20.980672,21.200017,21.100000,21.139942,21.148818,20.615,22.863304,20.75,48.441406,0,...,-62.188985,-118.313862,13.935625,21.148818,21.139942,0,0,0,0,0
2021-03-29,000001,21.235336,21.207019,21.446667,21.195710,21.139942,21.080,22.865467,21.14,53.578169,0,...,-95.941880,-103.352141,13.961667,21.195710,21.139942,1,0,0,0,0
2021-03-30,000001,21.582668,21.213428,21.690000,21.285581,21.195710,21.425,22.893472,21.49,59.496656,0,...,-8.553355,-91.181928,13.980042,21.285581,21.195710,0,0,0,0,0
2021-03-31,000001,21.796334,21.219994,21.893333,21.396081,21.285581,21.570,22.675700,21.93,60.563189,0,...,43.763105,-57.831943,13.977542,21.396081,21.285581,0,0,0,0,0
2021-04-01,000001,21.788167,21.226953,21.796667,21.468915,21.396081,21.835,22.419262,22.01,55.648235,0,...,56.074931,-22.600314,14.002750,21.468915,21.396081,0,0,0,0,0
2021-04-02,000001,21.644084,21.234154,21.530000,21.480021,21.468915,21.805,22.274627,21.78,49.896987,0,...,54.684219,3.470398,13.992917,21.480021,21.468915,0,0,0,0,0
2021-04-06,000001,21.662042,21.241662,21.760000,21.530927,21.480021,21.545,22.284354,21.50,53.501225,0,...,82.084357,23.583087,14.018333,21.530927,21.480021,0,0,0,0,0
2021-04-07,000001,21.651021,21.249461,21.626667,21.548334,21.530927,21.800,22.308806,21.68,52.521684,0,...,78.843564,42.723782,14.038792,21.548334,21.530927,0,0,0,0,0
2021-04-08,000001,21.605510,21.257437,21.540000,21.546819,21.548334,21.620,22.258305,21.64,50.369862,0,...,78.961157,54.776763,14.040083,21.548334,21.546819,0,0,0,0,0
2021-04-09,000001,21.452755,21.265242,21.366667,21.514064,21.546819,21.530,22.258868,21.56,43.597240,0,...,67.224241,61.535430,14.054125,21.546819,21.514064,0,0,0,0,0
2021-04-12,000001,21.076378,21.272043,20.946667,21.410901,21.514064,21.400,22.276500,21.30,32.009677,0,...,-25.201528,53.172440,14.094417,21.514064,21.410901,0,0,0,0,0
2021-04-13,000001,20.928189,21.277420,20.750000,21.290737,21.410901,21.070,22.265924,20.70,34.709102,0,...,43.763991,34.702957,14.146333,21.410901,21.290737,0,0,0,0,0
2021-04-14,000001,20.799094,21.281043,20.676667,21.179088,21.290737,20.735,22.247524,20.78,32.630833,0,...,60.570029,39.588772,14.210708,21.290737,21.179088,0,0,0,0,0
2021-04-15,000001,20.579547,21.282456,20.403333,21.038041,21.179088,20.680,22.289932,20.67,27.263528,0,...,82.357850,49.000972,14.285958,21.179088,21.038041,0,0,0,0,0
2021-04-16,000001,20.419774,21.281354,20.166667,20.879610,21.038041,20.425,22.276119,20.36,25.674212,0,...,93.628868,61.371014,14.352250,21.038041,20.879610,0,0,0,0,0
2021-04-19,000001,20.784887,21.278541,20.766667,20.859075,20.879610,20.120,22.260837,20.26,53.699527,0,...,79.199345,70.521955,14.391417,20.879610,20.859075,0,0,0,0,0
2021-04-20,000001,21.237443,21.275155,21.520000,20.979243,20.859075,20.575,22.279338,21.15,63.453957,0,...,49.139459,70.077771,14.432708,20.979243,20.859075,1,0,0,0,0
2021-04-21,000001,22.123722,21.273287,22.830000,21.315744,20.979243,21.435,22.637910,21.69,77.170404,0,...,284.471449,89.220185,14.446167,21.315744,20.979243,0,0,0,0,0
2021-04-22,000001,22.551861,21.274197,22.996667,21.621366,21.315744,22.740,22.905329,23.01,76.409998,0,...,242.660099,149.662880,14.462333,21.621366,21.315744,0,0,0,0,0
2021-04-23,000001,22.920930,21.278893,23.336667,21.933239,21.621366,23.005,23.214537,22.98,78.914730,0,...,211.629781,177.217588,14.462125,21.933239,21.621366,0,0,0,0,0
2021-04-26,000001,22.930465,21.287513,23.356667,22.192044,21.933239,23.360,23.403572,23.29,69.232089,0,...,182.425584,185.446653,14.445958,22.192044,21.933239,0,0,0,0,0
2021-04-27,000001,22.935233,21.299976,22.996667,22.338339,22.192044,23.565,23.567445,22.94,69.232089,0,...,155.389896,181.438669,14.435208,22.338339,22.192044,0,0,0,0,0
2021-04-28,000001,23.142616,21.316470,23.193333,22.493793,22.338339,23.025,23.777346,22.94,74.266455,0,...,144.578658,171.555697,14.402125,22.493793,22.338339,0,0,0,0,0
2021-04-29,000001,23.366308,21.337177,23.470000,22.671285,22.493793,23.115,24.013497,23.35,76.852976,0,...,138.847917,161.927239,14.349708,22.671285,22.493793,0,0,0,0,0
2021-04-30,000001,23.328154,21.361714,23.263333,22.778930,22.671285,23.410,24.181248,23.59,67.028039,1,...,127.427192,152.966431,14.299833,22.778930,22.671285,0,0,1,0,0

In [30]:

from QUANTAXIS.QAIndicator.base import *
def indx(data):
    N1=7
    LC=REF(data.close,1)
    RSI=SMA(MAX(data.close-LC,0),N1,1)/SMA(ABS(data.close-LC),N1,1)*100
    RSI1 = REF(RSI,1)
    sell=CROSS(78,RSI1)
    buy=CROSS(RSI1,20)
  
    
        
    return pd.DataFrame({
            'rsi': RSI1,
            'buy' :buy,
            'sell' :sell,
            
        })

ind = data.add_func(indx)
ind.tail(1)

                         rsi  buy  sell
date       code
2021-04-30 000001  76.852976    0     0